<template>
  <div
    v-click-outside="closeSuggestions"
    class="auto-complete-wrapper"
  >
    <go-input
      ref="input"
      v-model="keyword"
      :placeholder="placeholder"
      @keyup="handleKeyup"
      @click="handleClick"
      @focus="handleFocus"
    />
    <div
      v-show="focus && suggestions.length > 0"
      class="suggestions-wrapper"
      :style="{
        left: suggestionOffset + 'px',
      }"
    >
      <div
        class="suggestion"
        v-for="(suggestion) in suggestions"
        :key="'suggestion_' + suggestion"
        @click="pickWord(suggestion)"
      >
        {{ suggestion }}
      </div>
    </div>
  </div>
</template>

<script>
import input from '@components/input'
import Dictionary from "@/utils/dictionary"

export default {
  name: "auto-complete-input",
  components: {
    'go-input': input,
  },
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    words: {
      type: Array,
      default: () => [],
    },
  },
  created() {
    this.dictionary = new Dictionary()
  },
  computed: {
    highlightedKeyword() {
      if (this.keyword === '') return ''
      return this.getWordAtPosition()
    },
    suggestions() {
      if (this.words.length < 1) return []
      // limit to top 5 results
      return this.dictionary.getSuggestions(this.highlightedKeyword).slice(0, 5)
    },
  },
  watch: {
    words: {
      handler: function(words) {
        if (words.length < 1) return
        words.forEach(word => {
          this.dictionary.addWord(word)
        })
      },
      immediate: true,
    },
  },
  data() {
    return {
      focus: false,
      keyword: '',
      selectionIndex: 0,
      suggestionOffset: 0,
      dictionary: null,
    }
  },
  methods: {
    /**
     * Replaces cursor pointer word with suggestion.
     * */
    pickWord(suggestion = '') {
      const input = this.$refs.input.$el
      const before = this.keyword.substring(0, this.selectionIndex)
      const after = this.keyword.substring(this.selectionIndex)

      const startIndex = before.lastIndexOf(' ')
      const endIndex = after.indexOf(' ')
      if (!startIndex && !endIndex) return
      this.keyword = `${before.slice(0, startIndex).trim()} ${suggestion} ${after.slice(endIndex).trim()}`
      input.setSelectionRange(this.selectionIndex, this.selectionIndex)
      input.focus()
    },
    getWordAtPosition() {
      // looks for preceding and ensuing words
      const start = this.keyword.substring(0, this.selectionIndex).match(/[a-zA-Z0-9-_]+$/)
      const end = this.keyword.substring(this.selectionIndex).match(/^[a-zA-Z0-9-_]+/)
      if(!start && !end) return ''
      return (start || '') + (end || '')
    },
    limitNumberWithinRange(num, min, max) {
      const MIN = min || 1
      const MAX = max || 20
      const parsed = parseInt(num)
      return Math.min(Math.max(parsed, MIN), MAX)
    },
    handleFocus() {
      this.focus = true
    },
    handleKeyup(e) {
      this.selectionIndex = e.target.selectionStart
      this.calCursorPosition(this.selectionIndex)

      if (e.key === 'Enter') this.handleEnterKeypress()
    },
    handleEnterKeypress() {
      this.$emit('submit', this.keyword)
    },
    handleClick(e) {
      this.selectionIndex = e.target.selectionStart
      this.calCursorPosition(this.selectionIndex)
    },
    closeSuggestions() {
      console.log('closeSuggestions')
      this.focus = false
      // eslint-disable-next-line no-debugger
      debugger
    },
    /***
     * Creates a dummy div and get the width of it.
     * A hacky way of getting the cursor position of input.
     * @param selectionPoint
     */
    calCursorPosition(selectionPoint = 0) {
      const $el = this.$refs.input.$el
      const {
        offsetLeft: inputX,
      } = $el

      const div = document.createElement('div')
      const copyStyle = getComputedStyle($el)
      for (const prop of copyStyle) {
        div.style[prop] = copyStyle[prop]
      }
      const swap = '.'
      const inputValue = $el.tagName === 'INPUT' ? $el.value.replace(/ /g, swap) : $el.value
      div.textContent = inputValue.substr(0, selectionPoint)
      if ($el.tagName === 'TEXTAREA') div.style.height = 'auto'
      if ($el.tagName === 'INPUT') div.style.width = 'auto'
      const span = document.createElement('span')
      span.textContent = inputValue.substr(selectionPoint) || '.'
      div.appendChild(span)
      document.body.appendChild(div)
      const { offsetLeft: spanX } = span
      document.body.removeChild(div)

      this.suggestionOffset = this.limitNumberWithinRange(inputX + spanX, 0, $el.clientWidth)
    }
  },
}
</script>

<style lang="scss" scoped>
.auto-complete-wrapper {
  position: relative;
  display: inline-block;
}

.suggestions-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  width: 100px;
  text-align: left;
}

.suggestion {
  cursor: pointer;
  padding: 5px;
  background: #fff;

  &:hover {
    background: #ced4da;
  }
}
</style>
