<template>
  <input
    class="input-field"
    :type="type"
    :placeholder="placeholder"
    :value="modelValue"
    @input="handleInput"
  />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: "go-input",
  props: {
    modelValue: {
      type: String,
      default: 'text',
    },
    type: {
      type: String,
      default: 'text',
      validator: function(value) {
        return ['text', 'password'].includes(value)
      },
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  methods: {
    handleInput(e) {
      this.$emit('update:modelValue', e.target.value)
    },
  },
})
</script>

<style lang="scss" scoped>
.input-field {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
</style>
