<template>
  <div class="card">
    <h5 class="card-title">{{ title }}</h5>
    <div class="author">{{ author }}</div>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: "go-card",
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    author: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  border: 1px solid rgba(0,0,0,.125);
  padding: 15px;
  display: inline-block;
  width: 200px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.author {
  font-size: 1rem;
}
</style>
