<template>
  <div>
    <div class="header">
      <h1>Books Catalog</h1>
      <go-auto-input
        :placeholder="'Search'"
        :words="words"
        @submit="searchBook"
      />
    </div>
    <div class="book-wrapper" v-if="searchResult.length > 0">
      <go-card
        class="book"
        v-for="(book, index) in searchResult"
        :key="'book_' + index"
        :title="book.name"
        :description="book.series"
        :author="book.author"
      />
    </div>
    <div v-else>
      <span>No results</span>
    </div>
  </div>
</template>

<script>
import card from '@components/card'
import autoCompleteInput from '@components/auto-complete-input'
import { getWords, getBooks } from '@api/index'

export default {
  name: 'App',
  components: {
    'go-card': card,
    'go-auto-input': autoCompleteInput,
  },
  async mounted() {
    this.words = await getWords()
  },
  data() {
    return {
      words: [],
      searchResult: [],
    }
  },
  methods: {
    async searchBook(keyword = '') {
      this.searchResult = []
      const { data } = await getBooks({
        page: 1,
        perPage: 10,
        keyword: keyword,
      })
      this.searchResult = data
    },
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  padding: 25px;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.book-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.book {
  margin-right: 25px;
  margin-bottom: 25px;
}
</style>
